@model IEnumerable<WebLibrary.Webentity>

@{
    ViewData["Title"] = "show";
}

<h1>show</h1>

<p>
    <a asp-action="Index">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.brithdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.exceptedsalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brithdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exceptedsalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
